[submodule "projects/ai-parametric-prosthetic-hand-generator"]
	path = projects/ai-parametric-prosthetic-hand-generator
	url = https://github.com/pedrocandeias/ai-parametric-prosthetic-hand-generator
[submodule "tools/mendeley-tools"]
	path = tools/mendeley-tools
	url = git@github.com:pedrocandeias/mendeley-tools.git
[submodule "tools/mendeley-downloader"]
	path = tools/mendeley-downloader
	url = git@github.com:pedrocandeias/mendeley-downloader.git
